%h3.mb-3 Video

%iframe{src: "https://player.zype.com/embed/#{params[:id]}.format?access_token=#{current_user.access_token}", width: '766px', height: '430px'}

.clearfix.mt-3
  = link_to 'Back', '/', class: 'btn btn-primary'
